:root {
	/* 
	* this is primary color, applied on:
	* background, underline
	 */
	--primary: #343541;
	--primary-disabled: #343541;
	/*
	* this is secondary color, applied on:
	* text, border
	*/
	--secondary: white;
	--secondary-disabled: #ababab;
	/*
	* this is third color, applied on:
	* button, 
	*/
	--third: #0164da;
	--third-disabled: #0164da;
	/*
	* other colors, used on random object.
	*/
	--o1: #47a386;
	--o1-disabled: #47a386;
}